<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvcFS11BEHFZKt9HzueXJ0fuU0G9h2VLI</string>
	<key>GCM_SENDER_ID</key>
	<string>52573047921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitbeastFinalversion</string>
	<key>PROJECT_ID</key>
	<string>fitbeast-finalversion</string>
	<key>STORAGE_BUCKET</key>
	<string>fitbeast-finalversion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52573047921:ios:58a45a2df46e803f015fd0</string>
</dict>
</plist>